.content {
  padding-top: 50px;
}

.content__container {
  padding: 0 150px;
}

.content__box {
  border-radius: 10px;
  padding: 16px 45px 34px;
  background-color: #f1f1f1;
}

.content__title {
  margin-bottom: 20px;
  font-weight: 700;
  font-size: 44px;
}

.content__list {
  margin: 0;
  padding-left: 25px;
  color: #02535f;
}

.content__item:not(:last-child) {
  margin-bottom: 10px;
}