.sequence-rule__image {
  display: inline-block;
}

.sequence-rule__image:not(:last-child) {
  margin-right: 30px;
}

.sequence-rule__text-block {
  display: inline-block;
  vertical-align: top;
}

.sequence-rule__content {
  margin-bottom: 30px;
}

.sequence-rule__content:last-child {
  margin-bottom: 0;
}

.top-content {
  display: inline-block;
  max-width: 480px;
}

.bottom-content {
  margin-right: 30px;
  max-width: 480px;
}

.sequence-rule__text:not(:last-child) {
  margin-bottom: 30px;
}